<h1>Stars!</h1>
<p *ngIf="!serverId">No server ID!</p>
<p *ngIf="!valid && !error && serverId">Star counts are loading...</p>
<p *ngIf="error">That server has not given any stars yet!</p>
<div id="leaderboard" *ngIf="valid">
  <h2>{{serverName}}'s All Stars</h2>
  <div class="user" *ngFor="let user of stars">
    <img
      class="avatar"
      src="{{ user.avatar }}"
      onError="this.onError=null;this.src='/assets/img/default.png'"
    />
    <div class="details">
      <p class="username">{{ user.userTag || "unknown user" }}</p>
      <p class="stars">{{user.stars}} {{user.stars === 1 ? "star" : "stars"}} received.</p>
    </div>
  </div>
</div>
