/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  text-align: center;
  background: url("https://cdn.nhcarrigan.com/banners/becca.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #3a3240;
  padding-bottom: 25px;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(174, 168, 222, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
