<h1>Becca Lyria Dashboard</h1>
<p>
  Welcome to Becca's Dashboard! There's not much here at the moment (yet?),
  but...
</p>
<p>
  If you are interested in seeing what Becca can do, check out the
  documentation.
</p>
<a
  class="custom-button"
  href="https://docs.beccalyria.com"
  target="_blank"
  rel="noopener noreferrer"
  >📖 Read the Docs</a
>
<p>You can also invite Becca to your server!</p>
<a
  class="custom-button"
  href="https://invite.beccalyria.com"
  target="_blank"
  rel="noopener noreferrer"
  >➕ Invite the Bot</a
>
<p>
  If you have questions, or need help setting things up, check out our support
  server!
</p>
<a
  class="custom-button"
  href="https://chat.nhcarrigan.com"
  target="_blank"
  rel="noopener noreferrer"
  >❔ Get Support</a
>
